.Agent {
  margin: 20px;
  border:2px solid lightgrey;
  border-radius: 8px;
  background:white;
}
.Agent-header {
  border-bottom:2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Agent-title{
  text-align:center;
  padding:10px;
}
.Agent-body{
  /*border: 2px solid silver;*/
	padding:20px;
}

.Navbar {
	background-color: 	#1c5e7a;
}

.App-body {
  padding:5vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  min-height: 90vh;
  min-width: 100%;
  background:whitesmoke;
}

/*ANIMATIONS*/
.update{
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: update;
}
@keyframes update {
  from {
    color:lime;
  }
  to {
    color:black;
  }
}

.fadeOut {
  animation-duration:2s;
  animation-name:fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 100%
  }
  to {
    opacity: 0%;
  }
}