.Agent {
  margin: 20px;
  border:4px solid silver;
}
.Agent-header {
  background-color: silver;
}

.App-body {
  padding:5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.log {
  /*background-color:skyblue;*/
}