.Agent {
  margin: 20px;
  border:4px solid silver;
}
.Agent-header {
  background-color: silver;
  padding:2px;
}
.Agent-body{
	padding:20px;
}

.Navbar {
	background-color: 	#1c5e7a;
}

.App-body {
  padding:5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update{
  animation-duration: 3s;
  animation-iteration-count: infinte;
  animation-name: update;
}

@keyframes update {
  from {
    color:cyan;
  }
  to {
    color:black;
  }
}