.Agent {
  margin: 20px;
  /*border:2px solid silver;*/
}
.Agent-header {
  background-color: silver;
  /*border: 2px solid silver; */
  padding:2px;
}
.Agent-body{
  border: 2px solid silver;
	padding:20px;
}

.Navbar {
	background-color: 	#1c5e7a;
}

.App-body {
  padding:5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update{
  animation-duration: 3s;
  animation-iteration-count: infinte;
  animation-name: update;
}

@keyframes update {
  from {
    color:lime;
  }
  to {
    color:black;
  }
}

.fadeOut {
  animation-duration:2s;
  animation-name:fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 100%
  }
  to {
    opacity: 0%;
  }
}